{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
<script src="" defer></script>
{% endblock scripts %}

{% block title %}
profile
{% endblock %}

{% block content %}


{% if message %}
<div>{{ message }}</div>
{% endif %}
<div id="profile-box">
    <h2>Profile</h2>

    <div>
        <img class="profile-avatar" src="{{ author.avatar.url }}" class="rounded-circle" alt="User Profile">
    </div>
    
    <div>
        <ul>
            <li>
                <b>Name:</b> {{ author.user }}
            </li>
            <li>
                <b>Bio:</b>{{ author.bio }}
    
            </li>
            <li>
                <b>Created:</b> {{ author.updated }}
            </li>
            <li>
                <b>Last update:</b> {{ author.created }}
            </li>
        </ul>
    </div>
</div>

{% endblock content %}